/* .App {
  text-align: center;
  } */



div#construction{
  background-size: cover;
  background-repeat: no-repeat;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-image:url("https://media.istockphoto.com/photos/excavator-at-a-construction-site-with-cranes-picture-id1280939410?k=20&m=1280939410&s=612x612&w=0&h=k8A8uh-thh5LIzWnG5c6DiNpHZ3fUEiUIx-QnoCx8NY=");
  webkit-filter: grayscale(100%);
  z-index:-500;
  position:fixed;
} 
  
#back{
  background-size: cover;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-image:url("https://media.istockphoto.com/photos/code-programming-for-website-editors-view-picture-id1290492381?k=20&m=1290492381&s=612x612&w=0&h=FsX6JK-AYJuG6oV8hXlBmuoT7lXcMogVVoCLsSHesDU=");
  webkit-filter: grayscale(100%);
  z-index:-500;
  position:fixed;
}


/* #portback{
  margin-left: 550px ;
  background-size: 1000px;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-image:url("https://media.istockphoto.com/photos/blank-white-posters-picture-id472080068?k=20&m=472080068&s=612x612&w=0&h=pA-guY5m8A00f_AwiyLv7dHnGFAF2zYjTC8q_KvpBas=");
  webkit-filter: grayscale(100%);
  z-index:-500;
  position:fixed;
} */
#portback{
  background-size: 417px;
  margin-top: 150px;
  background-repeat:repeat-x;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-image:url("https://media.istockphoto.com/photos/presentation-center-picture-id174917916?k=20&m=174917916&s=612x612&w=0&h=3Nn8vq0OwahnZ8KGrZYL4CeCxVZCJY6zfL4QbXfaUT4=");
  webkit-filter: grayscale(100%);
  z-index:-500;
  position:fixed;
}

a#restaurant{
  margin-left: 57px;
  margin-top: 110px ;
}
a#welove{
  margin-left: 275px;
  margin-top: 110px ;
}

a#grub{
  margin-left: 320px;
  margin-top: 110px ;
}

a#think{
  margin-left: 330px;
  margin-top: 110px ;
}

p#rest{
  margin-left: 54px;
  margin-right: 200px;
  margin-top: 170px;
  text-align: center;
}

p#welove{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 30px;
  margin-right: 130px;
  margin-top: 170px;
  text-align: center;
}

p#grub{
  padding-left: 0px;
  padding-right: 40px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 170px;
  text-align: center;
}

p#think{
  margin-left: 110px;
  margin-right: 60px;
  margin-top: 170px;
  text-align: center;
}


h1{
  /* font-family:Arial, Helvetica, sans-serif; */
  font-family: monospace;
  padding: auto;
  margin: 40px 50px 50px 50px;
  color: transparent;
  background-image: linear-gradient(#80ffdb,#80ffdb);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -1150px,0;
  animation: backcolor 7s linear infinite;
  animation-fill-mode:forwards;
}

@keyframes backcolor{
  100%{
    background-position: 0,0;
  }
}

h4#Home{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
  font-family:'Courier New', Courier, monospace;
  color: #fffcf7;
  font-size: 20px;
  font-weight: bold;
}

h3{
  font-size: 30px;;
  color: #80ffdb;
  font-family: 'Fasthand', cursive;
  }

  ul{
    list-style-type: none;
  }

  li{
    padding: 2px;
  }

  a{
  text-decoration: none;
  }

  a#portfolio{
    color: #111;
  }

  a#homepage{
    font-size: 19px;
    font-family:'Courier New', Courier, monospace;
    color: #80ffdb;
    font-weight: 500;
    letter-spacing: 1px;
  }

  a#portfolio:hover{
    color: #3466ab;
  }
  

  a#Home:hover{
    color: #18b4fc;
  }


  a#goback{
    font-size: 25px;
    color: #111;
    margin-top: 10px;
  }

  a#goback:hover{
  color: #3466ab;
  }

  .profile{
    height:300px;
    padding: 10px;
    margin: 0 20px 20px 20px;
    border-radius: 50%;
  }

  span{
    font-weight: bolder;
    font-size: 22px;
  }

  span#one, span#five, span#six{
    color: #27e5fa;
  }

  span#two, span#seven{
    font-size: 23px;
  }

  span#two{
    color: #d6ff56;
    
  }

  span#three{
    color: #1dd3b0;
  }
  
  span#four{
    color: #d6ff56;
  }
  
 
  span#seven{
    color: #affc41;
  }  